{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "proseWrap": "always",

  "plugins": ["prettier-plugin-astro"],

  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
