---
import "./style.css";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Post from "../../components/Post.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <hr
      class="md:w-1/2 block border-transparent border border-b-[#e9e9e9] opacity-20 my-7"
    />
    <main>
      <section class="flex flex-col gap-3">
        {posts.map((post) => <Post post={post} />)}
      </section>
    </main>
    <Footer />
  </body>
</html>
