---
import PostSummary from "../../components/PostSummary.astro";
import Site from "../../layouts/Site.astro";
import { isHiddenPage } from "./_helper";

// Fetch all posts.
const posts = (await Astro.glob("./*.{md,mdx}"))
  // Filter out hidden posts.
  .filter((post) => !isHiddenPage(post.url))
  // Sort them by publication date.
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );
---

<Site>
  <div class="grid grid-cols-1 gap-3" slot="main">
    <hr
      class="w-full border-transparent border border-b-[#e9e9e9] opacity-20"
    />
    {posts.map((post) => <PostSummary post={post} />)}
  </div>
</Site>
