---
import Site from "../../layouts/Site.astro";

const tags = (await Astro.glob("./*.{md,mdx}"))
  .filter(
    // We want to show drafts in dev env only.
    (post) => process.env.NODE_ENV === "development" || !post.frontmatter.draft
  )
  .flatMap((post) => post.frontmatter.tags);

const uniqueTags = Array.from(new Set<string>(tags));
---

<Site>
  <div slot="main">
    <hr
      class="w-full border-transparent border border-b-[#e9e9e9] opacity-20"
    />
    <div class="grid grid-cols-12">
      {uniqueTags.map((tag) => <div>{tag}</div>)}
    </div>
  </div>
</Site>
