---
import Site from "../../layouts/Site.astro";
import { isHiddenPage } from "./_helper";

// Fetch all tags.
const tags = (await Astro.glob("./*.{md,mdx}"))
  // Filter out hidden posts.
  .filter((post) => !isHiddenPage(post.url))
  // Merge all their tags together.
  .flatMap((post) => post.frontmatter.tags);

const uniqueTags = Array.from(new Set<string>(tags));
---

<Site>
  <div slot="main">
    <hr
      class="w-full border-transparent border border-b-[#e9e9e9] opacity-20"
    />
    <div class="flex flex-wrap gap-y-1 gap-x-2">
      {
        uniqueTags.map((tag) => (
          <div class="text-black bg-slate-300 rounded-md px-1 py-0">{tag}</div>
        ))
      }
    </div>
  </div>
</Site>
