:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  color-scheme: light only;

  --default-bg-color: #7a59b9;
  --default-text-color: #090909;
  --light-gray: #f5f5f5;
  --bg-bege: #ecebe4;
  --link-color: #0070f3;

  --max-width: 1080px;

  --side-width: calc(50vw - (var(--max-width) / 2));

  /* font-size: 20px; */
  letter-spacing: 0.02em;
}

body {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-recommended-class-from-google-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.my-gradient {
  background-image: linear-gradient(150deg, #bf25f6 0%, #000 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.my-shadow {
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
}
