---
import { Image } from "astro:assets";
import profile from "../assets/profile.webp";
import WilhelmScream from "../components/WilhelmScream.astro";
import Link from "../components/Link.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>
  <body class="bg-slate-300 dark:bg-[#171f2c]">
    <Header />
    <main>
      <article
        class="grid grid-cols-3 justify-center items-center text-slate-500 text-sm"
      >
        <!-- Left side links. -->
        <div class="flex flex-col items-end font-bold">
          <Link url="https://mcra.dev/cv" label="CV (this page)" />
          <Link url="https://github.com/marcelocra" label="GitHub" />
          <Link url="https://www.linkedin.com/in/marcelocra" label="LinkedIn" />
        </div>

        <!-- Profile picture. -->
        <div>
          <Image
            id="profile-picture"
            class="hover:blur dark:invert active:invert active:blur-none hover:cursor-pointer rounded-full w-40 border-2 border-slate-500 shadow-md mx-10"
            src={profile}
            alt="marcelo's picture looking at the screen"
          />

          <WilhelmScream />
        </div>

        <!-- Right side links. -->
        <div class="flex flex-col font-bold justify-start">
          <Link url="https://marcelocra.dev/blog" label="My Blog" />
          <Link url="https://wa.me/5531971320866" label="+55 31 9 7132 0866" />
          <Link url="mailto:marcelocralmeida@gmail.com" label="Email" />
          <Link
            url="https://maps.app.goo.gl/mKbvA534QpWD5gLYA"
            label="Belo Horizonte / Brazil"
          />
          <div
            class="text-xs transition-colors bg-violet-300 rounded px-1 opacity-30 blur hover:blur-none hover:opacity-100 hover:bg-violet-400 hover:text-white flex flex-wrap float-left"
          >
            Best place to live on earth!
          </div>
        </div>

        <!-- Bottom -->
        <div class="flex flex-col gap-3 items-center justify-center">
          <div class="font-bold text-3xl text-slate-700 dark:text-slate-200">
            Marcelo Almeida
          </div>
          <div class="horizontal border w-2/3 border-slate-500"></div>
          <div class="font-bold text-xl text-slate-700 dark:text-slate-200">
            Who am I and why you should hire me
          </div>
          <div class="prose">
            <p>
              I started programming in 2010, using the C language, in ITA's
              Computer Engineering course. ITA is the most prestigious
              engineering school in Brazil.
            </p>
            <p>
              During my undergraduate course, I lived one year abroad, in The
              Netherlands, where I attended both the University of Twente and
              the Eindhoven University of Technology (TU/e).
            </p>
            <p>
              I finished my degree at ITA in 2015, and by that time I had
              already done 6 months internship at Google and had an offer to go
              back as a full-time employee (FTE).
            </p>
            <p>
              Worked there from 2016 to 2020 and then quit to follow my
              entrepreneurship dreams, first working in a startup, then founding
              my own (in a completely different domain, digital marketing!).
            </p>
            <p>
              Now I'm in between those worlds, trying to find a place that will
              fuel my love for software development and help me grow as an
              engineer, while letting me keep in touch with my entrepreneurial
              spirit.
            </p>
            <p>
              I care about good system design implemented with great code,
              focused on simplicity, reusability and maintainability. Those
              words were not picked at random. It is the best way to deal with
              the uncertainty and trade-offs inherent to the software business.
            </p>
          </div>
        </div>

        <script is:inline>
          document
            .getElementById("profile-picture")
            ?.addEventListener("click", () => {
              document.getElementById("audio").play();
              document.documentElement.classList.toggle("dark");
            });
        </script>
        <Footer />
      </article>
    </main></body
  >
</html>
