---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  title="Sobre mim"
  description="Uma página com detalhes de quem eu sou"
  pubDate={new Date(2022, 10, 12)}
  updatedDate={new Date(2024, 4, 11)}
  description="Uma página com detalhes de quem eu sou"
>
  <p>Oi! Meu nome é Marcelo e eu sou programador e marketeiro.</p>

  <p>
    Minha primeira linha de código foi em 2010 (em C), no curso de Engenharia de
    Computação do ITA.
  </p>

  <p>
    Me formei no final de 2015, tendo feito 6 meses de estágio na Google. Fui
    efetivado depois do estágio e comecei como full-time em fevereiro de 2016,
    no escritório de Belo Horizonte.
  </p>

  <p>
    Depois de 4 anos de muito aprendizado, participando de muitos projetos
    diferentes, decidi sair da empresa e ir trabalhar no Kuadro, uma startup
    EdTech.
  </p>

  <p>
    Fiquei apenas 6 meses lá, mas ajudei o time de produto e engenharia a
    entregar cerca de 15 projetos diferentes nesse tempo.
  </p>

  <p>
    Em seguida comecei a construir minha própria empresa em uma área
    completamente diferente: marketing digital.
  </p>

  <p>
    Fiquei quase dois anos exclusivamente nisso até aceitar a proposta de outra
    startup, a Hubla, pra voltar a trabalhar com programação, mas agora na área
    de marketing digital.
  </p>

  <p>
    Uma ano e muitos projetos depois, decidi sair e continuar apenas na minha
    empresa, agora trabalhando não só com marketing digital, mas também com
    desenvolvimento de software.
  </p>

  <p>
    Hoje trabalho criando meus próprios produtos (micro-saas), usando o
    marketing digital como uma ferramenta de vendas. Também faço software
    customizado e consultoria para empresas que precisam de ajuda com marketing
    digital, executando o serviço quando necessário.
  </p>
</BlogPost>

<style>
  p {
    margin-bottom: 1.4rem;
  }
</style>
