---
import BaseLayout from "../layouts/BaseLayout.astro";
import { LINK_STYLE } from "../libs/constants";

const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Learning Blog</h2>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a class={LINK_STYLE} href={post.url}>
            {post.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
