---
import Site from "../layouts/Site.astro";

const SECTIONS: {
  title: string;
  description: string;
  props: { [key: string]: string };
}[] = [
  {
    title: "Blog",
    description:
      "Aprenda sobre design de software, programação, ferramentas de desenvolvimento e produtividade, e muito mais.",
    props: {
      href: "/blog",
    },
  },
  {
    title: "Mastodon",
    description:
      "Veja novidades do mundo da tecnologia e empreendedorismo com mais velocidade.",
    props: {
      rel: "me",
      href: "https://mastodon.social/@marcelocra",
    },
  },
  {
    title: "YouTube",
    description: "Aprenda sobre os mesmos tópicos do blog, porém em vídeo!",
    props: {
      title: "Em construção",
      role: "link",
      "aria-disabled": "true",
    },
  },
  {
    title: "Newsletter (email)",
    description:
      "Fique por dentro de tudo que acontece no mundo do desenvolvimento! Saiba sobre novos artigos, blogs, vídeos e mais.",
    props: {
      title: "Em construção",
      role: "link",
      "aria-disabled": "true",
    },
  },
];
---

<Site>
  <div class="grid grid-cols-1 gap-3 md:gap-5" slot="main">
    <div class="px-3 md:px-0 text-center">
      Olá! Meu nome é <strong>Marcelo</strong>, sou Engenheiro de Computação e
      trabalho com <strong>design e desenvolvimento de software</strong>. Aqui
      você pode conferir meus projetos e mídias.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      {
        SECTIONS.map((section) => (
          <a
            class={`rounded-md no-underline p-3 ${
              section.props.href
                ? "rounded-md no-underline p-3 hover:bg-[color:var(--primary-color)] text-white hover:text-black"
                : "cursor-not-allowed text-gray-500"
            }`}
            style="border: 1px solid var(--my-gray)"
            {...section.props}
          >
            {section.title && (
              <div class="text-xl font-bold">{section.title}</div>
            )}
            {section.description && <div>{section.description}</div>}
          </a>
        ))
      }
    </div>
  </div>
</Site>
