---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/index-sections/Hero.astro";
import IconsAndStartProject from "../components/index-sections/IconsAndStartProject.astro";
import Skills from "../components/index-sections/Skills.astro";
import IndexAboutSection from "../components/index-sections/IndexAboutSection.astro";
import IndexProjectsSection from "../components/index-sections/IndexProjectsSection.astro";
import IndexServicesSection from "../components/index-sections/IndexServicesSection.astro";
import IndexContactSection from "../components/index-sections/IndexContactSection.astro";
import IndexBlogSection from "../components/index-sections/IndexBlogSection.astro";
---

<BaseLayout>
  <main class="flex flex-col gap-10">
    <section class="grid grid-cols-2 mt-28">
      <Hero />
    </section>
    <section class="grid grid-cols-3">
      <IconsAndStartProject />
    </section>
    <section>
      <Skills />
    </section>
    <section>
      <IndexAboutSection />
    </section>
    <section>
      <IndexProjectsSection />
    </section>
    <section>
      <IndexServicesSection />
    </section>
    <section>
      <IndexContactSection />
    </section>
    <section>
      <IndexBlogSection />
    </section>
  </main>
</BaseLayout>

<!-- Example: how to style a section with a 
  different background color and full width.
<style>
  #projects-section {
    background-color: var(--light-gray);
    width: 99.4vw;
    margin-left: calc(-50vw + (var(--max-width) / 2));
    padding-left: calc(50vw - (var(--max-width) / 2));
  }
</style> -->
