---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/index-sections/Hero.astro";
import IconsAndStartProject from "../components/index-sections/IconsAndStartProject.astro";
import Skills from "../components/index-sections/Skills.astro";
---

<BaseLayout>
  <main class="flex flex-col gap-10">
    <section class="grid grid-cols-2 mt-28">
      <Hero />
    </section>
    <section class="grid grid-cols-3">
      <IconsAndStartProject />
    </section>
    <section>
      <Skills />
    </section>
  </main>
</BaseLayout>
