---
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexHeroSection from "../components/index-sections/IndexHeroSection.astro";
import IndexIconsAndStartProjectSection from "../components/index-sections/IndexIconsAndStartProjectSection.astro";
import IndexSkillsSection from "../components/index-sections/IndexSkillsSection.astro";
import IndexAboutSection from "../components/index-sections/IndexAboutSection.astro";
import IndexProjectsSection from "../components/index-sections/IndexProjectsSection.astro";
import IndexServicesSection from "../components/index-sections/IndexServicesSection.astro";
import IndexContactSection from "../components/index-sections/IndexContactSection.astro";
import IndexBlogSection from "../components/index-sections/IndexBlogSection.astro";
import Anchor from "../components/Anchor.astro";
---

<BaseLayout>
  <section>
    <IndexHeroSection />
  </section>

  <section>
    <IndexIconsAndStartProjectSection />
  </section>

  <section>
    <IndexSkillsSection />
  </section>

  <Anchor id="about" />
  <section>
    <IndexAboutSection />
  </section>

  <Anchor id="projects" />
  <section>
    <IndexProjectsSection />
  </section>

  <Anchor id="services" />
  <section>
    <IndexServicesSection />
  </section>

  <Anchor id="contact" />
  <section>
    <IndexContactSection />
  </section>

  <Anchor id="blog" />
  <section>
    <IndexBlogSection />
  </section>
</BaseLayout>
