---
import { ViewTransitions } from "astro:transitions";

import Avatar from "../components/Avatar.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en" class="bg-slate-200 dark:bg-slate-700">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>{pageTitle}</title>
    <ViewTransitions />
    <style>
      .smaller-screens {
        display: block;
      }
      .larger-screens {
        display: none;
      }

      @media (min-width: 430px) {
        .smaller-screens {
          display: none;
        }

        .larger-screens {
          display: block;
        }
      }
    </style>
  </head>
  <body>
    <!-- smaller screens -->
    <div class="smaller-screens">
      <div class="min-h-screen p-3 flex flex-col gap-3 justify-between">
        <div class="flex flex-row gap-3">
          <Avatar class="rounded-full w-16 border border-black" />
          <div class="text-xs">marcelo description</div>
        </div>

        <Footer />
      </div>
    </div>

    <!-- larger screens -->
    <div class="larger-screens">
      <div class="grid grid-cols-4 p-3">
        <div>
          <div>
            <Avatar class="rounded-full w-48 border border-black" />
            <div class="">marcelo description</div>
          </div>
          <Footer />
        </div>
        <div>center content</div>
      </div>
    </div>
  </body>
</html>
