---
import Site from "../layouts/Site.astro";

const SECTIONS: {
  title: string;
  link: string | null;
  description: string;
  props: { rel?: string };
}[] = [
  {
    title: "Blog",
    link: "https://marcelocra.dev/blog",
    description:
      "Aprenda sobre design de software, programação, ferramentas de desenvolvimento e produtividade, e muito mais.",
    props: {},
  },
  {
    title: "Mastodon",
    link: "https://mastodon.social/@marcelocra",
    description:
      "Veja novidades do mundo da tecnologia e empreendedorismo com mais velocidade.",
    props: {
      rel: "me",
    },
  },
  {
    title: "YouTube",
    link: null,
    description: "Aprenda sobre os mesmos tópicos do blog, porém em vídeo!",
    props: {},
  },
  {
    title: "Newsletter (email)",
    link: null,
    description:
      "Fique por dentro de tudo que acontece no mundo do desenvolvimento! Saiba sobre novos artigos, blogs, vídeos e mais.",
    props: {},
  },
];
---

<Site>
  <div
    class="grid grid-cols-1 gap-3 md:gap-5 m-3 md:m-auto md:w-3/5"
    slot="main"
  >
    <div class="px-3 md:px-0 md:text-center">
      Olá! Meu nome é <strong>Marcelo</strong>, sou Engenheiro de Computação e
      trabalho com <strong>design e desenvolvimento de software</strong>. Aqui
      você pode conferir meus projetos e mídias.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2">
      {
        SECTIONS.map((section) => (
          <a
            class={`border rounded-md no-underline p-3 m-3 ${
              section.link
                ? "hover:bg-purple-800 text-white border-gray-400"
                : "cursor-not-allowed text-gray-500 border-gray-500"
            }`}
            style="border: 1px solid #e9e9e9"
            href={section.link ?? ""}
            title={section.link ? "" : "Em construção"}
            {...section.props}
          >
            {section.title && (
              <div class="border border-purple-800 text-xl font-bold">
                {section.title}
              </div>
            )}
            {section.description && <div>{section.description}</div>}
          </a>
        ))
      }
    </div>
  </div>
</Site>
