---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer>
  <div>&copy; {today.getFullYear()} Marcelo Almeida. All rights reserved.</div>
  <div>Powered by <a href="https://astro.build">Astro</a>.</div>
  <div class="social-links">
    <SocialLinks />
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
</style>
