---
import { LINK_STYLE } from "../libs/constants";

const linkStyle = LINK_STYLE + " font-bold text-xs";
---

<footer class="flex flex-row gap-3 justify-center">
  <a class={linkStyle} href="https://www.github.com/marcelocra/">GitHub</a>
  <a class={linkStyle} href="https://www.linkedin.com/in/marcelocra/"
    >LinkedIn</a
  >
</footer>
