---
import DownloadLatestCV from "./DownloadLatestCV.astro";

const today = new Date();
---

<footer class="flex flex-col items-center bg-[var(--bg-bege)] px-1 py-1 pb-2">
  <div class="flex flex-row justify-between w-full p-5">
    <div class="flex flex-col">
      <a href="/">Home</a>
      <DownloadLatestCV />
      <a href="/blog">Blog</a>
    </div>
    <div class="flex flex-col text-right">
      <a href="mailto:oi@marcelocra.com">Email</a>
      <a href="tel:+5531971320866">Phone</a>
      <a href="https://wa.me/5531971320866">WhatsApp</a>
    </div>
  </div>

  <div>&copy; Marcelo Almeida | {today.getFullYear()}</div>

  <div class="text-xs italic">All rights reserved</div>

  <div class="text-xs italic mt-6 text-slate-400">
    Powered by <a
      class="text-blue-600 hover:underline"
      href="https://astro.build">Astro</a
    >
  </div>
</footer>
