---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { t } from "../lib/i18n/t";
import StartProjectButton from "./StartProjectButton.astro";
---

<header class="bg-[#ECEBE4] p-5 shadow-xl">
  <nav
    class="flex flex-row items-center justify-between max-w-[1440px] mx-auto"
  >
    <a class="w-20 leading-6 text-black font-bold text-center" href="/"
      >{SITE_TITLE}</a
    >
    <div class="flex gap-28">
      <HeaderLink href="/">{t("home")}</HeaderLink>
      <HeaderLink href="/about">{t("about")}</HeaderLink>
      <HeaderLink href="/projects">{t("projects")}</HeaderLink>
      <HeaderLink href="/blog">{t("blog")}</HeaderLink>
    </div>
    <StartProjectButton />
  </nav>
</header>
