---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import { Avatar } from "./Avatar";
---

<header class="grid grid-cols-1 justify-items-center">
  <Avatar class="w-24 h-24 xs:w-24 xs:h-24 rounded-full mb-2" />
  <div class="grid grid-rows-1 justify-items-center">
    <h2>
      {SITE_TITLE}
    </h2>
    <nav>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">Sobre</HeaderLink>
      <HeaderLink href="https://github.com/marcelocra" target="_blank"
        >GitHub</HeaderLink
      >
      <HeaderLink
        rel="me"
        href="https://mastodon.social/@marcelocra"
        target="_blank">Mastodon</HeaderLink
      >
    </nav>
  </div>
</header>
<style>
  header {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
</style>
