---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Button from "./Button.astro";
---

<header class="bg-[#ECEBE4] p-5 shadow-xl">
  <nav
    class="flex flex-row items-center justify-between max-w-[var(--max-width)] mx-auto"
  >
    <a class="w-20 leading-5 text-bold font-bold text-center" href="/"
      >{SITE_TITLE}</a
    >
    <div id="Header" class="flex gap-10">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/#about">About</HeaderLink>
      <HeaderLink href="/#projects">Projects</HeaderLink>
      <HeaderLink href="/#blog">Blog</HeaderLink>
    </div>
    <a href="/#contact"><Button>Start Project</Button></a>
  </nav>
</header>

<script>
  document.querySelectorAll("#Header > a")?.forEach((el) => {
    if (
      el.textContent?.toLowerCase().trim() ===
      window.location.hash.slice(1).trim()
    ) {
      el.setAttribute("active", "true");
    } else {
      el.setAttribute("active", "false");
    }
  });
</script>
