---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

import "../styles/_constants.scss";

const { href, class: className, ...props } = Astro.props;

const url = Astro.url.pathname.replace(/\/$/, "");
const isActive = href === url || (href === "/" && url === "");
---

<a
  href={href}
  class:list={[
    "text-[color:var(--primary-color)]",
    className,
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
  }
</style>
