@use "../styles/constants.scss";

section a {
  color: #00b7ff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section content {
  line-height: 1.6;
}

section code {
  @include constants.inline-code-highlight;
}

section pre {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
}

section pre > code {
  all: unset;
}
