@use "../styles/constants.scss";

section a {
  color: #00b7ff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section content {
  line-height: 1.6;
}

section code {
  @include constants.code;
}

section pre {
  @include constants.pre;
}

section pre > code {
  all: unset;
}
