---
const { link } = Astro.params;

const linkTable = new Map<string | undefined, string>(
  Object.entries({
    cv: "https://www.canva.com/design/DAFfJBLsVSs/ZwPgH-8mUYYqveOQHr6gSQ/edit?utm_content=DAFfJBLsVSs&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton",
  })
);

let debug = `We don't have a link for '${link}' yet.`;

let url = linkTable.get(link);
if (url) {
  if (process.env.NODE_ENV === "development") {
    debug = `In prod, you'd be redirected to ${url}`;
  } else {
    return Astro.redirect(url, 302);
  }
}
---

<p>{debug}</p>
