---
import Site from '../../layouts/Site.astro'
import links from './_links.js'
---

<Site>
  <div slot="main" class="flex flex-col gap-3">
    <div>Links disponíveis:</div>
    <div class="grid grid-cols-5">
      {
        links.map(([key, value]) => (
          <>
            <div class="col-span-1">{key}</div>
            <div class="col-span-4 truncate">
              <a class="text-blue-500" href={value}>
                {value}
              </a>
            </div>
          </>
        ))
      }
    </div>
  </div>
</Site>
