---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-image: url("/hero-crazy-lines.svg");
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
        filter: blur(10px);
      }
    </style>
  </head>
  <body class="min-h-screen flex flex-col justify-between">
    <!-- Desktop. -->
    <div class="hidden sm:block">
      <div>
        <Header />
        <main
          class="max-w-[var(--max-width)] mx-auto flex flex-col gap-10 relative"
        >
          <slot />
        </main>
      </div>
      <Footer />
      <div id="bg"></div>
    </div>

    <!-- Mobile. Not supported for now. -->
    <div class="min-h-screen flex items-center sm:hidden p-10 bg-slate-900">
      <div
        class="p-10 text-center rounded-xl shadow-lg bg-gradient-to-br from-[#fbd8e7] via-[#d3fdac] to-[#7cf8f1]"
      >
        Estou lapidando a versão mobile! Mas você pode ver o meu CV <a
          href="https://mcra.dev/cv">aqui</a
        > e o meu GitHub <a href="https://github.com/marcelocra">aqui</a>.
      </div>
    </div>
  </body>
</html>
