---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-image: url("/hero-crazy-lines.svg");
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
        filter: blur(10px);
      }
    </style>
  </head>
  <!-- Allow at most the h-screen, hiding everything else. -->
  <body class="max-h-screen overflow-hidden max-w-screen">
    <!-- Use at most h-screen, see header and main div comments below. -->
    <div class="flex flex-col justify-between h-screen w-screen">
      <!-- Define exactly the height we want for the header. -->
      <div class="h-16 sticky top-0 z-50">
        <Header />
      </div>
      <!-- Calculate the height as the h-screen (aka 100vh) minus h-16 (aka 4rem). -->
      <div
        class="h-[calc(100vh-4rem)] overflow-y-scroll [scrollbar-color:initial] [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-purple-300 [&::-webkit-scrollbar-track]:bg-purple-100 [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar]:h-1"
      >
        <main class="p-3 sm:p-0 sm:mx-32 flex flex-col gap-5 sm:gap-10">
          <slot />
        </main>
        <Footer />
      </div>
      <div id="bg"></div>
    </div>
  </body>
</html>
