---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-image: url("/hero-crazy-lines.svg");
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
        filter: blur(10px);
      }
    </style>
  </head>
  <!-- Allow at most the h-screen, hiding everything else. -->
  <body class="max-h-screen overflow-hidden">
    <!-- Desktop. -->

    <!-- Use at most h-screen, see header and main div comments below. -->
    <div class="flex flex-col justify-between h-screen">
      <!-- Define exactly the height we want for the header. -->
      <div class="h-16 sticky top-0 z-50">
        <Header />
      </div>
      <!-- Calculate the height as the h-screen (aka 100vh) minus h-16 (aka 4rem). -->
      <div
        class="h-[calc(100vh-4rem)] overflow-y-scroll [scrollbar-color:initial] [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-[rgb(216,215,208)] [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar]:w-2"
      >
        <main class="max-w-full mx-32 flex flex-col gap-10">
          <slot />
        </main>
        <Footer />
      </div>
      <div id="bg"></div>
    </div>

    <!-- Mobile. Not supported for now. -->
    <!-- <div class="flex items-center sm:hidden p-10 bg-slate-900 h-screen">
      <div
        class="p-10 text-center rounded-xl shadow-lg bg-gradient-to-br from-[#fbd8e7] via-[#d3fdac] to-[#7cf8f1]"
      >
        Estou lapidando a versão mobile! Mas você pode ver o meu CV <a
          href="https://mcra.dev/cv">aqui</a
        > e o meu GitHub <a href="https://github.com/marcelocra">aqui</a>.
      </div>
    </div> -->
  </body>
</html>
