---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<BaseLayout>
  <article
    class="prose prose-stone prose-sm sm:prose w-full p-3 sm:my-10 sm:mx-auto"
  >
    <h1>{title}</h1>
    <div class="font-semibold italic text-sm text-right -mt-3">
      Publicado: <FormattedDate date={pubDate} />
      {
        updatedDate && updatedDate !== pubDate && (
          <div class="">
            Atualizado: <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <slot />
  </article>
</BaseLayout>

<style is:global>
  section.footnotes::before {
    content: "-----";
    @apply text-zinc-400;
  }

  section.footnotes > ol::before {
    content: "Notas";
    @apply italic font-semibold -ml-5;
  }

  section.footnotes {
    @apply text-sm font-sans;
  }

  section.footnotes li::marker {
    @apply text-zinc-400;
  }

  section.footnotes::after {
    content: "-----";
    @apply text-zinc-400;
  }

  article > p > sup > a {
    scroll-margin-top: 80px;
    color: red;
  }

  * {
    scroll-behavior: smooth;
  }
</style>
