---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<BaseLayout>
  <article class="prose prose-stone my-10 max-w-[70%] mx-auto">
    <h1>{title}</h1>
    <div class="font-semibold italic text-sm text-right -mt-3">
      Publicado: <FormattedDate date={pubDate} />
      {
        updatedDate && updatedDate !== pubDate && (
          <div class="">
            Atualizado: <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <slot />
  </article>
</BaseLayout>
