---
import TagChips from "../components/TagChips.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p class="font-bold italic mb-3">
    <em class="dark:text-white">{frontmatter.description}</em>
  </p>
  <TagChips tags={frontmatter.tags} />

  <div class="opacity-40 italic text-xs lg:text-md flex justify-end mt-3">
    <a class="dark:text-slate-200 text-xs lg:text-md" href="/about/"
      >{frontmatter.author}</a
    >, {frontmatter.pubDate.toString().slice(0, 10)}
  </div>

  <slot />
</BaseLayout>
