---
import { lang } from "../lib/constants";
import Site from "./Site.astro";

import "./Post.scss";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, pubDate, updatedDate, heroImage },
} = Astro.props;

function stringDateToDate(date?: string) {
  return new Date(Date.parse(date ?? "")).toLocaleDateString(lang);
}

const pubDateAsDate = stringDateToDate(pubDate);
const updatedDateAsDate = updatedDate
  ? stringDateToDate(updatedDate)
  : undefined;
---

<Site>
  <div slot="main">
    <article>
      {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
      <h1 class="text-3xl my-1">{title}</h1>
      {
        pubDateAsDate && (
          <span class="text-sm text-gray-500">
            Publicado: <time>{pubDateAsDate}</time>{" "}
            {updatedDateAsDate && (
              <span>
                <i>
                  (Atualizado: <time>{updatedDateAsDate}</time>)
                </i>
              </span>
            )}
          </span>
        )
      }

      <slot />
    </article>
  </div>
</Site>
