<div class="grid grid-cols-2 pt-28">
  <div class="col-span-1">
    <div class="font-bold text-6xl mb-5 my-gradient">
      Hello, my name is Marcelo Almeida
    </div>
    <div class="text-2xl">
      I am a Full Stack Developer, currently based in Belo Horizonte, Minas
      Gerais, Brazil.
    </div>
  </div>
</div>
