---
import SocialLinks from "../SocialLinks.astro";
import StartProjectButton from "../StartProjectButton.astro";
---

<div class="flex flex-row gap-3 items-center justify-between w-full">
  <div class="flex flex-row gap-3">
    <SocialLinks />
  </div>
  <StartProjectButton outline />
</div>
