---
import SocialLinks from "../SocialLinks.astro";
import StartProjectButton from "../StartProjectButton.astro";
---

<section class="grid grid-cols-3">
  <div class="flex flex-row gap-3 items-center justify-between w-full">
    <div class="flex flex-row gap-3">
      <SocialLinks />
    </div>
    <StartProjectButton outline />
  </div>
</section>
