---
import Button from "../Button.astro";
import Card from "../Card.astro";
---

<div class="flex flex-col items-center">
  <h1 class="text-3xl font-bold">Recent Articles</h1>
  <p class="max-w-[743px] text-xl text-center">
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout.
  </p>
  <div
    class="flex flex-row gap-5 items-center justify-between w-full overflow-x-scroll [&::-webkit-scrollbar]:hidden p-3 mt-14"
  >
    <Card
      title="Chrome Extension"
      text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
      buttonText="Read more"
    />
    <Card
      title="Chrome Extension"
      text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
      buttonText="Read more"
    />
    <Card
      title="Chrome Extension"
      text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
      buttonText="Read more"
    />
    <Card
      title="Chrome Extension"
      text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
      buttonText="Read more"
    />
  </div>

  <a class="mt-14 mb-12" href="/blog"><Button>Visit blog</Button></a>
</div>
