---
import SvgMobileDevelopment from "./svgs/SvgMobileDevelopment.astro";
import SvgWebDevelopment from "./svgs/SvgWebDevelopment.astro";
import SvgSoftwareDevelopment from "./svgs/SvgSoftwareDevelopment.astro";
import SvgEcommerceDevelopment from "./svgs/SvgEcommerceDevelopment.astro";
import SvgDigitalMarketing from "./svgs/SvgDigitalMarketing.astro";

const items = [
  [
    SvgWebDevelopment,
    "Web Development",
    "You believe you need website either for external clients or for your own team to help manage your business.",
  ],
  [
    SvgEcommerceDevelopment,
    "Ecommerce Development",
    "You want to sell online, but you don't know where to start. I can help you with that!",
  ],
  [
    SvgMobileDevelopment,
    "Mobile App Development",
    "Your customers are mostly on mobile and you need to reach them there. There's a number of quick solutions for that!",
  ],
  [
    SvgSoftwareDevelopment,
    "Software Development in general",
    "You just want to solve a problem and think a software would help, but you have no idea how. Talk to me and we can try to figure it out!",
  ],
  [
    SvgDigitalMarketing,
    "Digital Marketing",
    "You want to <strong>sell more</strong>, <strong>reach more people</strong> or just <strong>be more visible</strong>. There's a number of strategies that could help you!",
  ],
];
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-x-32 gap-y-5 sm:gap-y-10">
  <div class="flex flex-col gap-4">
    <h2 class="text-4xl font-bold">Avaliable Services</h2>
    <p>
      I care about good system design implemented with great code, focused on
      simplicity, reusability and maintainability. Those words were not picked
      at random: it is the best way to deal with the uncertainty and trade-offs
      inherent to the software business. And I'll use them to provide you with
      my best in the following areas:
    </p>
  </div>

  {
    items.map(([Icon, heading, content]) => (
      <div class="relative sm:static flex flex-col gap-4 mt-4">
        <div>{Icon && <Icon />}</div>
        <h3 class="absolute left-12 top-0 sm:static text-lg sm:text-2xl font-bold">
          {heading}
        </h3>
        <p>
          <Fragment set:html={content} />
        </p>
      </div>
    ))
  }
</div>
