---
import MarcelosTimeline from "./MarcelosTimeline.astro";
---

<div class="grid grid-cols-5 gap-3 items-center">
  <h1 class="text-5xl font-bold col-span-2 leading-[58px]">
    Who am I and Why Should You Hire Me
  </h1>
  <p class="col-span-3">
    I've decided to put some of my scholar things, jobs and experiences in a
    timeline, so it can be more organically written. If you want to know about
    specific topics, I've put some tags below. Also, feel free to download my
    one page CV.
  </p>
</div>

<MarcelosTimeline />
