---
import Card from "../Card.astro";
---

<div class="flex justify-between items-center">
  <h2 class="text-4xl font-bold m-6">Projects</h2>
  <a href="/projects">see all</a>
</div>
<div
  class="grid grid-flow-col grid-rows-2 gap-3 justify-between w-full overflow-x-scroll [&::-webkit-scrollbar]:hidden p-3"
>
  <Card
    title="YourLinx"
    text="Go quickly to any website that you frequently use. Faster and more flexible than bookmarks."
    tech="JavaScript, React, HTML, CSS"
    imageUrl="/yourlinx-logo.png"
    imageAlt="YourLinx logo"
  />

  <Card
    title="My website"
    text="A site and blog that I use to test and learn different ways to make sites and blogs. Currently, Apr/24, it is Astro on Deno Deploy, but might change."
    tech="Astro, JavaScript, HTML, CSS"
    gh="https://github.com/marcelocra/site"
  />

  <Card
    title="Dev workflow utils"
    text="Utilities to accelerate my development workflow."
    tech="Mostly Clojure"
    gh="https://github.com/marcelocra/utils"
  />

  <Card
    title="Chrome Extensions"
    text="Many Chrome Extensions using different technologies."
    tech="ClojureScript, JavaScript, TypeScript, React, Svelte, HTML, CSS"
  />

  <Card
    title="Learning stuff"
    text="I love technology! This project is about learning new (to me) stuff. Might be upcoming tech (Zig, Vlang), non-mainstream stuff (F#, OCaml), or just stuff I never tried (Rust, Dart, Deno, Bun, Common Lisp, etc)."
    tech="F#, Zig, V, Dart, etc."
    gh="https://github.com/marcelocra/learn"
  />

  <Card
    title="Process Locker"
    text="Simple script to limit how much resources a particular process can use."
    tech="Python"
    gh="https://github.com/marcelocra/plock"
    tag="archived"
    old
  />

  <Card
    title="Twitter Maps"
    text="Integration between Twitter and Google Maps APIs to show geotagged tweets in a map."
    tech="JavaScript, jQuery, Python"
    tag="archived"
    old
  />

  <Card
    title="RESTful web service"
    text="Control a networked thermostat using a RESTful API."
    tech="Python"
    tag="archived"
    old
  />

  <Card
    title="CLI Chat app"
    text="Command line chat application with custom application protocol."
    tech="JavaScript, Node, WebSockets"
    tag="archived"
    old
  />

  <Card
    title="Desktop app"
    text="Play remotely chosen songs"
    tech="Python, Flask"
    tag="archived"
    old
  />

  <Card
    title="MIPS Simulator"
    text="Desktop application to simulate the execution of MIPS assembly code."
    tech="Python, TKinter"
    tag="archived"
    old
  />

  <Card
    title="Desktop game"
    text="Simple side-scrolling game with a custom text-based level editor."
    tech="Java"
    tag="archived"
    old
  />
</div>
