---
import TimelineSimple from "./Timeline.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-5 gap-3 items-center mb-10">
  <h1 class="text-4xl sm:text-5xl font-bold col-span-2 leading-[58px]">
    Who am I and Why You Should Hire Me
  </h1>
  <p class="col-span-3 text-xl">
    I've decided to put some of my scholar things, jobs and experiences in a
    timeline, so it can be more organically written. If you want to know about
    specific topics, there might be more in my CV, which you can see (and
    download) <a class="link" href="https://mcra.dev/cv">here</a>.
  </p>
</div>

<TimelineSimple />
