---
import MarcelosTimeline from "./MarcelosTimeline.astro";
---

<div class="grid grid-cols-5 gap-3 items-center">
  <h1 class="text-5xl font-bold col-span-2 leading-[58px]">
    Who am I and Why Should You Hire Me
  </h1>
  <p class="col-span-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium minima
    consequatur cum necessitatibus dolorum earum odit, architecto ea
    voluptatibus perferendis at nesciunt corporis, beatae animi sequi alias
    totam? Dignissimos, deleniti! /* Who Am I and Why Should You Hire Me */
    position: absolute; left: 11.53%; right: 58.19%; top: 2.58%; bottom: 91.36%;
    font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 48px;
    line-height: 58px; color: #0D001F;
  </p>
</div>

<MarcelosTimeline />
