---
import Button from "../Button.astro";
import SvgContactBlueShape from "./svgs/SvgContactBlueShape.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 items-center">
  <div class="relative">
    <div class="hidden sm:block">
      <SvgContactBlueShape />
    </div>
    <div
      class="sm:absolute sm:left-[28%] sm:top-[30%] sm:w-[46%] font-black text-3xl sm:text-5xl text-black sm:text-white sm:leading-[58px]"
    >
      Have a project in mind? Let's work together.
    </div>
  </div>

  <div class="flex flex-col items-center">
    <contact-form
      class="flex flex-col items-center w-full mt-4 sm:mt-0 sm:w-3/5 mx-auto"
    >
      <textarea
        placeholder="I'd like to talk about a project. (Type here or just hit send! You'll be able to edit the message in WhatsApp before sending.)"
        class="textarea placeholder:text-zinc-600 border-zinc-600 bg-transparent focus:border-none mb-4 w-full leading-5 overflow-hidden"
      ></textarea>
      <a href=""><Button>Send</Button></a>
      <div class="flex flex-col w-full justify-start">
        <div class="mt-14">
          <p class="text-base">E-mail</p>
          <a class="font-bold link" href="mailto:oi@marcelocra.com"
            >oi at marcelocra dot com</a
          >
        </div>
        <div class="mt-4">
          <p class="text-base">Social Media</p>
          <a class="font-bold link" href="https://mcra.dev/linkedin">LinkedIn</a
          >
        </div>
      </div>
    </contact-form>
  </div>
</div>

<script>
  class ContactForm extends HTMLElement {
    textarea: HTMLTextAreaElement;

    constructor() {
      super();

      const typedText = window.localStorage.getItem("typedText") || "";

      this.textarea = this.querySelector("textarea")!;
      this.textarea.value = typedText;
      this.textarea.style.height = this.textarea.scrollHeight + "px";
    }

    connectedCallback() {
      this.querySelector("textarea")!.addEventListener("input", (e) => {
        if (e && e.target) {
          // @ts-expect-error - value exists
          const value = e.target.value;

          this.textarea.style.height = "";
          this.textarea.style.height = this.textarea.scrollHeight + "px";

          window.localStorage.setItem("typedText", value);
        }
      });

      this.querySelector("a")!.addEventListener("click", (e) => {
        e.preventDefault();

        let message = this.textarea.value;
        if (message === "") {
          message = this.textarea.placeholder.replace(/\..*$/, ".");
        }
        const url = `https://api.whatsapp.com/send?phone=5531971320866&text=${message}`;
        window.open(url, "_blank");
      });
    }
  }

  customElements.define("contact-form", ContactForm);
</script>
