---
import Card from "../Card.astro";
---

<h2 class="text-4xl font-bold m-6">Projects</h2>
<div
  class="flex flex-row gap-3 items-center justify-between w-full overflow-x-scroll [&::-webkit-scrollbar]:hidden p-3"
>
  <Card
    title="Chrome Extension"
    text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
    tech="ClojureScript, JavaS﻿cript, TypeScript, React, Svelte, HTML, CSS"
  />
  <Card
    title="Chrome Extension"
    text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
    tech="ClojureScript, JavaS﻿cript, TypeScript, React, Svelte, HTML, CSS"
  />
  <Card
    title="Chrome Extension"
    text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
    tech="ClojureScript, JavaS﻿cript, TypeScript, React, Svelte, HTML, CSS"
  />
  <Card
    title="Chrome Extension"
    text="Many Chrome Extensions - such as Yourlinx - a extension tp help you save time creating shortcuts for your links."
    tech="ClojureScript, JavaS﻿cript, TypeScript, React, Svelte, HTML, CSS"
  />
</div>
