---
import Button from "../Button.astro";
import Card from "../Card.astro";
import MultipleCardsCarousel from "./MultipleCardsCarousel.astro";
import { getPosts } from "../../lib/get-posts";

const posts = await getPosts();

const days = 60;
const now = new Date();
// @ts-expect-error - TS doesn't like date arithmetic.
const dateDiff = (date) => now - date;

// New post is a post that was published within `days` days.
const isNewPost = (date: Date) => dateDiff(date) / (1000 * 60 * 60 * 24) < days;
---

<MultipleCardsCarousel title="Recent Articles" href="/blog">
  {
    posts.map((post) => (
      <Card
        title={post.data.title}
        text={post.data.description}
        tech={post.data.tags?.join(", ")}
        tag={isNewPost(post.data.pubDate) ? "new!" : ""}
        buttonText="Read more"
        buttonHref={`/blog/${post.slug}`}
      />
    ))
  }
</MultipleCardsCarousel>

<div class="flex flex-col items-center">
  <a class="mt-14 mb-12" href="/blog"><Button>Visit blog</Button></a>
</div>
