---
import Button from "../Button.astro";
import Card from "../Card.astro";
import MultipleCardsCarousel from "./MultipleCardsCarousel.astro";
import { getPosts } from "../../lib/get-posts";

const posts = await getPosts();

const days = 60;
const now = new Date();
const dateDiff = (date: Date) => now.getTime() - date.getTime();

/** New post is a post that was published within {@link days} days. */
const isNewPost = (date: string) =>
  dateDiff(new Date(date)) / (1000 * 60 * 60 * 24) < days;
---

<MultipleCardsCarousel title="Recent Blog Articles" href="/blog" rows={2}>
  {
    posts.map((post) => (
      <Card
        title={post.data.title}
        text={post.data.description}
        tech={post.data.tags?.join(", ")}
        tag={isNewPost(post.data.pubDate) ? "new!" : ""}
        buttonText="Read more"
        buttonHref={`/blog/${post.id}`}
      />
    ))
  }
</MultipleCardsCarousel>

<div class="flex flex-col items-center">
  <a class="mt-14 mb-12" href="/blog"><Button>Visit blog</Button></a>
</div>
