---
import { t } from "../../lib/i18n/t";
---

<section class="px-16 py-11">
  <h2 class="text-2xl font-bold">{t("skills.title")}</h2>
  <p>{t("skills.subtitle")}</p>
</section>

<style>
  section {
    background: #ecebe4;
    box-shadow: 0px 3.41577px 3.41577px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
  }
</style>
