---
import NetherlandsUniversities from "./NetherlandsUniversities.astro";
---

<div class="grid grid-cols-2 gap-10">
  <div>
    <NetherlandsUniversities />
    <p>
      During my undergraduate course, I lived one year abroad, in The
      Netherlands, where I attended both the <strong
        >University of Twente</strong
      > and the <strong>Eindhoven University of Technology</strong> (TU/e).
    </p>
  </div>
  <div class="flex flex-row items-center gap-3">
    <div class="text-4xl font-medium">2013</div>
    <div class="text-2xl font-semibold">The Netherlands</div>
  </div>
</div>
