---
import TimelineContent from "./TimelineContent.astro";

import SvgLogoITA from "./svgs/SvgLogoITA.astro";
import NetherlandsUniversities from "./NetherlandsUniversities.astro";
import SvgLogoGoogleFull from "./svgs/SvgLogoGoogleFull.astro";
import SvgLogoGoogleG from "./svgs/SvgLogoGoogleG.astro";
import SvgLogoKuadro from "./svgs/SvgLogoKuadro.astro";
import SvgLogoVBOInitials from "./svgs/SvgLogoVBOInitials.astro";
import SvgLogoHubla from "./svgs/SvgLogoHubla.astro";
---

<div class="flex flex-col gap-10 m-3">
  <TimelineContent name="ITA" year="2010">
    <SvgLogoITA slot="logo" />
    <p>
      I started and completed my Computer Engineering undergrad at one of the
      most prestigious engineering schools in Brazil: ITA (Instituto Tecnológico
      de Aeronáutica). It was also the start of my programming journey, using
      the <strong>C language.</strong>
    </p>
  </TimelineContent>

  <TimelineContent name="The Netherlands" year="2013" isTextFirst={false}>
    <NetherlandsUniversities slot="logo" />
    <p>
      While at ITA, I had the opportunity to do a one-year exchange program in
      The Netherlands, attending both the <strong>University of Twente</strong> and
      the <strong>Eindhoven University of Technology</strong> (TU/e).
    </p>
  </TimelineContent>

  <TimelineContent name="Google - Software Developer Intern" year="2015">
    <SvgLogoGoogleFull slot="logo" />
    <div class="flex flex-col gap-3">
      <p>
        I finished my undergrad degree at ITA in 2015. By that time, I had done
        a 6 months internship at Google and received the offer to go back as a
        full-time employee (FTE).
      </p>

      <p>
        During the internship, I Implemented a large portion of an <strong
          >iOS</strong
        > app's automated testing infrastructure, along with many tests. I used <strong
          >Objective-C</strong
        >, <a href="https://github.com/google/EarlGrey">EarlGrey</a> (a UI testing
        framework like Selenium), <strong>Bazel</strong> (a build system) and <strong
          >Python.</strong
        >
      </p>
    </div>
  </TimelineContent>

  <TimelineContent
    name="Google - Software Developer"
    year="2016"
    isTextFirst={false}
  >
    <SvgLogoGoogleG slot="logo" />
    <div class="flex flex-col gap-3">
      <p>
        Executed projects with global reach, doing system design,
        implementation, quality analysis and monitoring. Interacted with people
        from many different areas, including PMs, engineers, designers, domain
        experts and more, and was <strong>recognized by</strong> my strong technical
        capacity and <strong>my ability</strong> to lighten the working environment.
        Used <strong>C++</strong>, <strong>JavaScript</strong>,
        <a href="https://research.google/pubs/pub35650/" target="_blank"
          >Flume</a
        >, <strong>Java</strong>, <a href="https://bazel.build" target="_blank"
          >Bazel</a
        > and <strong>Python</strong>.
      </p>

      <ul class="m-6">
        <li class="list-disc">
          Implemented many frontend projects using an internal framework. Was
          considered a reference in that framework.
        </li>
        <li class="list-disc">
          Designed and refactored parts of the <strong
            >Chromium source code</strong
          >, separating semantically distinct parts that were entangled,
          improving maintainability
        </li>
        <li class="list-disc">
          Designed and implemented many data processing pipelines using
          something similar to <strong>Apache Beam</strong>. Also considered a
          reference in this
        </li>
      </ul>
    </div>
  </TimelineContent>
</div>

<TimelineContent name="Kuadro - Software Developer & PM" year="2020">
  <SvgLogoKuadro slot="logo" />
  <div class="timeline-content">
    <p>
      Kuadro was an edtech startup. While there, I delivered around <strong
        >15 projects</strong
      > using Scrum and two-week sprints (worked better than I expected!).
    </p>

    <p>
      Aside from working on software requirements and implementation, I
      interacted daily with the CEO and CTO.
    </p>

    <p>
      I also implemented the <strong>full frontend</strong>
      of a number of features, including the students' point scoring UI and the internal
      dashboard system used by TAs.
    </p>

    <p>
      We used <strong>JavaScript</strong>, <strong>React</strong>, <strong
        >GraphQL</strong
      > and <strong>Node</strong>.
    </p>
  </div>
</TimelineContent>

<TimelineContent
  name="Vender Bem Online - Founder & Copywriter"
  isTextFirst={false}
>
  <SvgLogoVBOInitials slot="logo" />
  <div class="timeline-content">
    <p>
      In 2020, <strong>I quit Google</strong> to follow my entrepreneurship dreams,
      first working at Kuadro, then founding Vender Bem Online.
    </p>

    <p>
      Initially, it was in a completely different domain - Digital Marketing -
      and later (2023) we also started working on software projects.
    </p>

    <p>
      In the Digital Marketing domain, I worked mostly with <strong
        >Product Launch Formula</strong
      > and <strong>Copywriting</strong>, launching other peoples products (3 at
      that time).
    </p>

    <p>
      In the Software domain, we are creating <strong>micro-saas</strong> applications
      to solve a number of different problems.
    </p>
  </div>
</TimelineContent>

<TimelineContent name="Hubla" year="2022">
  <SvgLogoHubla slot="logo" />
  <div class="timeline-content">
    <p>
      Had major role in many software designs, either as the system designer or
      as a reviewer. Implemented several core features, mainly in <strong
        >TypeScript</strong
      >, <strong>React</strong>, <strong>JavaScript</strong> and <strong
        >Node.</strong
      >
    </p>

    <ul class="list-disc m-6">
      <li>
        Implemented the full frontend for order bump, upsell and mobile checkout
        functionalities
      </li>
      <li>
        Structured the system design process for the whole engineering team
      </li>
      <li>
        Designed and implemented a logging system using <strong
          >OpenTelemetry specs</strong
        >. It improved the observability of the company's systems by introducing
        structured logging
      </li>
      <li>
        Worked improving <strong>SLI measurement</strong>, to improve
        communication with clients
      </li>
    </ul>
  </div>
</TimelineContent>

<TimelineContent
  name="Today"
  year={new Date().getFullYear()}
  isTextFirst={false}
>
  <div class="timeline-content">
    <p>
      I left Hubla in 2023 to focus on my own <strong>micro-saas</strong> projects.
      I'm trying to find something that will fuel my love for Software Development,
      for learning and also help others.
    </p>
    <p>
      My current personal goal is to help people save as much time as possible,
      so they can focus on what really matters.
    </p>
  </div>
</TimelineContent>

<style>
  .timeline-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
