---
import SvgLogoGoogleFull from "./svgs/SvgLogoGoogleFull.astro";
---

<div class="grid grid-cols-2 gap-10">
  <div>
    <SvgLogoGoogleFull />
    <div class="flex flex-col gap-3">
      <p>
        Executed projects with global reach, doing system design,
        implementation, quality analysis and monitoring. Interacted with people
        from many different areas, including PMs, engineers, designers, domain
        experts and more, and was recognized by my strong technical capacity and
        my ability to lighten the working environment. Used <strong>C++</strong
        >, <strong>JavaScript</strong>,
        <a href="https://research.google/pubs/pub35650/" target="_blank"
          >Flume</a
        >, <strong>Java</strong>, <a href="https://bazel.build" target="_blank"
          >Bazel</a
        > and <strong>Python</strong>.
      </p>

      <ul class="m-6">
        <li class="list-disc">
          Implemented many frontend projects using an internal framework. Was
          considered a reference in that framework.
        </li>
        <li class="list-disc">
          Designed and refactored parts of the <strong
            >Chromium source code</strong
          >, separating semantically distinct parts that were together,
          improving maintainability
        </li>
        <li class="list-disc">
          Designed and implemented many data processing pipelines using
          something similar to <strong
            >Apache Beam<strong>. Also considered a reference in this </strong>
          </strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-row items-center gap-3">
    <div class="text-4xl font-medium">2016</div>
    <div class="text-2xl font-semibold">Google - Software Developer</div>
  </div>
</div>
