---
import SvgLogoITA from "./svgs/SvgLogoITA.astro";
import NetherlandsUniversities from "./NetherlandsUniversities.astro";
import SvgLogoGoogleFull from "./svgs/SvgLogoGoogleFull.astro";
import SvgLogoGoogleG from "./svgs/SvgLogoGoogleG.astro";

import TimelineContentITA from "./TimelineContentITA.astro";
import TimelineContentTheNetherlands from "./TimelineContentTheNetherlands.astro";
import TimelineContentGoogleIntern from "./TimelineContentGoogleIntern.astro";
import TimelineContentGoogleDeveloper from "./TimelineContentGoogleDeveloper.astro";

// const content = [
//   {
//     Logo: SvgLogoITA,
//     year: 2010,
//     name: "ITA",
//     Description: TimelineContentITA,
//   },
//   {
//     Logo: NetherlandsUniversities,
//     year: 2013,
//     name: "The Netherlands",
//     Description: TimelineContentTheNetherlands,
//   },
//   {
//     Logo: SvgLogoGoogleFull,
//     year: 2015,
//     name: "Google - Software Developer Intern",
//     Description: TimelineContentGoogleIntern,
//   },
//   {
//     Logo: SvgLogoGoogleG,
//     year: 2016,
//     name: "Google - Software Developer",
//     Description: TimelineContentGoogleDeveloper,
//   },
// ];
---

<div class="flex flex-col m-3">
  <div class="grid grid-cols-12">
    <div class="col-span-4">
      <TimelineContentITA />
    </div>
    <div class="col-start-5 col-span-1">
      <svg
        version="1.1"
        width="40"
        height="100%"
        class="overflow-visible"
        fill="blue"
        xmlns="http://www.w3.org/2000/svg"
      >
        <text
          x="80"
          y="140"
          font-size="32"
          font-weight="500"
          font-family="Inter"
          text-anchor="start"
          fill="black">2010</text
        >
        <circle cx="20" cy="120" r="20"></circle>
        <rect x="0" y="120" width="40" height="100%"></rect>
      </svg>
    </div>
  </div>
  <div class="grid grid-cols-12">
    <div class="col-start-7 col-span-1">
      <svg
        version="1.1"
        width="40"
        height="100%"
        class="overflow-visible"
        fill="blue"
        xmlns="http://www.w3.org/2000/svg"
      >
        <text
          x="-90"
          y="100"
          font-size="32"
          font-weight="500"
          font-family="Inter"
          text-anchor="start"
          fill="black">2013</text
        >
        <circle cx="50" cy="60" r="20"></circle>
        <rect x="30" y="60" width="40" height="100%"></rect>
      </svg>
    </div>
    <div class="col-span-4">
      <TimelineContentTheNetherlands />
    </div>
  </div>
  <div class="grid grid-cols-12">
    <div class="col-span-4">
      <TimelineContentGoogleIntern />
    </div>
    <div class="col-start-5 col-span-1">
      <svg
        version="1.1"
        width="40"
        height="100%"
        class="overflow-visible"
        fill="blue"
        xmlns="http://www.w3.org/2000/svg"
      >
        <text
          x="80"
          y="140"
          font-size="32"
          font-weight="500"
          font-family="Inter"
          text-anchor="start"
          fill="black">2015</text
        >
        <rect x="0" y="0" width="40" height="100%"></rect>
      </svg>
    </div>
  </div>
  <div class="grid grid-cols-12">
    <div class="col-start-6 col-span-1">blabla</div>
    <div class="col-span-4">
      <TimelineContentGoogleDeveloper />
    </div>
  </div>
</div>

<!-- <style>
  div {
    background-image: url("./svgs/timeline-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
</style> -->

<!-- <div class="flex flex-col gap-1">
  <div class="flex flex-col gap-9 m-3">
    {
      content.map(({ Logo, year, name, Description }) => (

        // <div class="ex1 flex flex-row items-center gap-3">
        //   <div class="text-4xl font-medium">{year}</div>
        //   <Logo />
        //   <div class="text-2xl font-semibold">{name}</div>
        //   <Description />
        // </div>

        <div class="grid grid-cols-2 gap-10">
          <div>
            <Logo />
            <Description />
          </div>
          <div class="flex flex-row items-center gap-3">
            <div class="text-4xl font-medium">{year}</div>
            <div class="text-2xl font-semibold">{name}</div>
          </div>
        </div>

      ))
    }
  </div>
</div> -->
