---

---

<div class="flex flex-col py-px">
  <div class="flex z-10 flex-col max-w-full w-[432px]">
    <img
      loading="lazy"
      srcset="..."
      class="max-w-full aspect-[2.63] w-[153px]"
    />
    <div
      class="flex flex-col items-start pl-14 mt-7 max-md:pl-5 max-md:max-w-full"
    >
      <div class="text-2xl font-semibold text-zinc-950">ITA</div>
      <div class="mt-10 text-base font-medium text-neutral-800">
        <span class="">
          I started my Computer Engineering graduation at the most prestigious
          engineering school in Brazil - ITA (Technological Institute of
          Aeronautic), starting my programming journey with
        </span>
        <span class="font-bold text-neutral-800">C language.</span>
      </div>
    </div>
  </div>
  <div class="flex z-10 flex-col self-end pb-20 mt-0 max-w-full w-[646px]">
    <div
      class="flex overflow-hidden relative flex-col self-start px-14 pt-3 pb-20 text-3xl font-medium text-center whitespace-nowrap aspect-[0.08] fill-[url(<path-to-image>)_lightgray_50%_/_cover_no-repeat] text-zinc-950 max-md:hidden max-md:px-5"
    >
      <img
        loading="lazy"
        srcset="..."
        class="object-cover absolute inset-0 size-full"
      />
      <div class="relative max-md:mr-0.5">2010</div>
      <div class="relative self-start mt-48 max-md:mt-10">2013</div>
      <div class="relative self-start mt-40 max-md:mt-10">2015</div>
      <div class="relative self-start mt-52 max-md:mt-10">2016</div>
      <div class="relative mt-96 max-md:mt-10">2020</div>
      <div class="relative mt-96 max-md:mt-10">2022</div>
      <div class="relative mb-5 mt-[679px] max-md:mt-10">2024</div>
    </div>
    <div
      class="flex z-10 flex-col self-end px-5 mt-0 max-w-full mb-[1562px] w-[441px] max-md:mt-0 max-md:mb-10"
    >
      <div class="flex gap-5 max-md:flex-wrap max-md:pr-5">
        <img
          loading="lazy"
          srcset="..."
          class="shrink-0 w-32 max-w-full aspect-[2]"
        />
        <img
          loading="lazy"
          srcset="..."
          class="shrink-0 my-auto max-w-full aspect-[3.7] w-[209px]"
        />
      </div>
      <div
        class="mt-3.5 text-2xl font-semibold text-zinc-950 max-md:max-w-full"
      >
        The Netherlands
      </div>
      <div
        class="mt-8 text-base font-medium text-neutral-800 max-md:max-w-full"
      >
        <span class="">
          During my undergraduate course, I lived one year abroad, in The
          Netherlands, where I attended both the
        </span>
        <span class="font-bold text-neutral-800">University of Twente</span>
        <span class="">and the</span>
        <span class="font-bold text-neutral-800">
          Eindhoven University of Technology
        </span>
        <span class="text-neutral-800">(TU/e)</span>
        <span class="">.</span>
      </div>
    </div>
  </div>
  <div
    class="flex z-10 flex-col pl-12 mt-0 w-full max-md:pl-5 max-md:mt-0 max-md:max-w-full"
  >
    <div class="flex z-10 flex-col max-w-full w-[385px]">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c840b37e535f1962e1418611ca58203bfacc7b64a49ac5134a3dd2286b07ca15?"
        class="max-w-full aspect-[2.94] w-[136px]"
      />
      <div class="mt-4 text-2xl font-semibold text-zinc-950">
        Google - Software Developer Intern
      </div>
      <div class="mt-9 text-base font-medium underline text-neutral-800">
        <span class="">
          I finished my degree at ITA in 2015, and by that time I had already
          done 6 months internship at Google and had an offer to go back as a
          full-time employee (FTE).
        </span>
        <br />
        <ul>
          <li>
            <span class="">Implemented a large portion of an</span>
            <span class="font-bold text-neutral-800">iOS</span>
            <span class="">
              app's automated testing infrastructure, along with many tests
            </span>
          </li>
          <li>
            <span class="">Technologies:</span>
            <span class="font-bold text-neutral-800">Objective-C</span>
            <span class="">,</span>
            <a
              href="https://github.com/google/EarlGrey"
              class="font-bold underline text-neutral-800"
              target="_blank"
            >
              EarlGrey
            </a>
            <span class="">(ui testing framework),</span>
            <span class="font-bold text-neutral-800">Baze</span>
            <span class="font-bold">l</span>
            <span class="">,</span>
            <span class="font-bold text-neutral-800">Python.</span>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col self-end mt-0 max-w-full text-2xl font-medium text-zinc-950 w-[448px]"
    >
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7d3b7a9993f332fb40fc064d9ec0748e69a7fa65b087ef35845ee3f45e40c93a?"
        class="aspect-square w-[66px]"
      />
      <div class="mt-3 font-semibold max-md:max-w-full">
        Google -
        <br />
        Software Developer
      </div>
      <div class="mt-7 text-base underline text-neutral-800 max-md:max-w-full">
        <span class="text-neutral-800">
          Executed projects with global reach, doing system design,
          implementation, quality analysis and monitoring. Interacted with
          people from many different areas, including PMs, engineers, designers,
          domain experts and more, and was recognized by my strong technical
          capacity and my ability to lighten the working environment. Used
        </span>
        <span class="font-bold text-neutral-800">C++</span>
        <span class="text-neutral-800">,</span>
        <span class="font-bold text-neutral-800">JavaScript</span>
        <span class="text-neutral-800">,</span>
        <a
          href="https://research.google/pubs/pub35650/"
          class="font-bold underline text-neutral-800"
          target="_blank"
        >
          Flume
        </a>
        <span class="text-neutral-800">,</span>
        <span class="font-bold text-neutral-800">Java</span>
        <span class="text-neutral-800">,</span>
        <a
          href="https://bazel.build"
          class="font-bold underline text-neutral-800"
          target="_blank"
        >
          Bazel
        </a>
        <span class="text-neutral-800">and</span>
        <span class="font-bold text-neutral-800">Python</span>
        <span class="text-neutral-800">.</span>
        <br />
        <ul>
          <li>
            <span class="text-neutral-800">
              Implemented many frontend projects using an internal framework.
              Was considered a reference in that framework.
            </span>
          </li>
          <li>
            <span class="text-neutral-800">
              Designed and refactored parts of the
            </span>
            <span class="font-bold text-neutral-800">Chromium source code</span>
            <span class="text-neutral-800">
              , separating semantically distinct parts that were together,
              improving maintainability
            </span>
          </li>
          <li>
            <span class="text-neutral-800">
              Designed and implemented many data processing pipelines using
              something similar to
            </span>
            <span class="font-bold text-neutral-800">Apache Beam</span>
            <span class="text-neutral-800">
              . Also considered a reference in this.
            </span>
          </li>
        </ul>
      </div>
      <img
        loading="lazy"
        srcset="..."
        class="mt-14 aspect-[0.76] w-[58px] max-md:mt-10"
      />
      <div class="mt-1.5 max-md:max-w-full">
        Vender Bem Online - Founder & Copywriter
      </div>
      <div class="mt-6 text-base text-neutral-800 max-md:max-w-full">
        <span class="">
          This is my own software and digital marketing company! I founded it in
          2020 and keep it to this day. Worked mostly with
        </span>
        <span class="font-bold text-neutral-800">Product Launch</span>
        <span class="font-bold">Formula</span>
        <span class="">an</span>
        <span class="text-neutral-800">d</span>
        <span class="font-bold text-neutral-800">Copywriting</span>
        <span class="">
          , launching other peoples products (3 launches so far).
        </span>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col pr-20 pl-8 mt-0 w-full max-md:px-5 max-md:mt-0 max-md:max-w-full"
  >
    <div class="flex flex-col max-w-full w-[405px]">
      <img loading="lazy" srcset="..." class="aspect-[1.01] w-[95px]" />
      <div class="flex flex-col pl-4">
        <div class="text-2xl font-semibold text-zinc-950">
          Kuadro - Software Developer & PM
        </div>
        <div class="mt-9 text-base font-medium text-neutral-800">
          <span class="">
            In 2020, I quited Google to follow my entrepreneurship dreams, first
            working in a startup, then founding my own (in a completely
            different domain, digital marketing!).
          </span>
          <br />
          <br />
          <span class="">Delivered around</span>
          <span class="font-bold text-neutral-800">15 projects</span>
          <span class="">
            using sprints of two weeks. Aside from working on implementation and
            execution, interacted with the CEO or CTO on a daily basis.
            Implemented the
          </span>
          <span class="font-bold">full frontend</span>
          <span class="">
            for a number of functionalities, including the students' point
            scoring ui and the internal dashboard system used by TAs, using
          </span>
          <span class="font-bold text-neutral-800">JavaScript</span>
          <span class="">,</span>
          <span class="font-bold text-neutral-800">React</span>
          <span class="">,</span>
          <span class="font-bold text-neutral-800">GraphQL</span>
          <span class="">and</span>
          <span class="font-bold text-neutral-800">Node</span>
          <span class="">.</span>
        </div>
      </div>
      <img
        loading="lazy"
        srcset="..."
        class="mt-20 aspect-[2.33] w-[95px] max-md:mt-10"
      />
      <div class="flex flex-col pr-1 pl-4 mt-1.5 font-medium">
        <div class="text-2xl text-zinc-950">
          Hubla -
          <br />
          Software Developer
        </div>
        <div class="mt-4 text-base text-neutral-800">
          <span class="">
            Had major role in many designs, either as a system designer or as a
            reviewer. Implemented several core features, mainly in
          </span>
          <span class="font-bold">TypeScript</span>
          <span class="">,</span>
          <span class="font-bold text-neutral-800">React</span>
          <span class="">,</span>
          <span class="font-bold text-neutral-800">JavaScript</span>
          <span class="">and</span>
          <span class="font-bold text-neutral-800">Node.</span>
          <br />
          <ul>
            <li>
              <span class="">
                Implemented the full frontend for order bump, upsell and mobile
                checkout functionalities
              </span>
            </li>
            <li>
              <span class="">
                Structured the system design process for the engineering team
              </span>
            </li>
            <li>
              <span class="">
                Designed and implemented a logging system using
              </span>
              <span class="font-bold">OpenTelemetry specs</span>
              <span class="">
                . It improved the observability of the company's systems by
                introducing structured logging
              </span>
            </li>
            <li>
              <span class="">Worked improving</span>
              <span class="font-bold">SLI measurement</span>
              <span class="">, to improve communication with clients</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col self-end mt-96 max-w-full w-[365px] max-md:mt-10 max-md:mr-1.5"
    >
      <div class="text-3xl font-medium text-zinc-950">Today</div>
      <div class="mt-5 text-base text-neutral-800">
        Now I'm in between those worlds, trying to find a place that will fuel
        my love for software development and help me grow as an engineer, while
        letting me keep in touch with my entrepreneurial spirit.
      </div>
    </div>
  </div>
</div>
