---
import SvgLogoGoogleFull from "./svgs/SvgLogoGoogleFull.astro";
---

<div class="grid grid-cols-2 gap-10">
  <div>
    <SvgLogoGoogleFull />
    <div class="flex flex-col gap-3">
      <p>
        I finished my degree at ITA in 2015, and by that time, I had done a 6
        months internship at Google, with an offer to go back as a full-time
        employee (FTE).
      </p>

      <p>
        During this internship I Implemented a large portion of an <strong
          >iOS</strong
        > app's automated testing infrastructure, along with many tests.
      </p>

      <p>
        To do that, I used <strong>Objective-C</strong>, <a
          href="https://github.com/google/EarlGrey"
          class="font-bold underline text-neutral-800"
          target="_blank">EarlGrey</a
        > (a UI testing framework a-la Selenium), <strong>Bazel</strong> (a build
        system) and <strong>Python.</strong>
      </p>
    </div>
  </div>
  <div class="flex flex-row items-center gap-3">
    <div class="text-4xl font-medium">2015</div>
    <div class="text-2xl font-semibold">Google - Software Developer Intern</div>
  </div>
</div>
